body {
    background: pink;
}

.container {
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    size: 35px;
    color: white;
}

#output {
    color: blue;
}

img {
    height: 250px;
    margin: 25px 0 25px 0;
}